<!-- app/templates/home/acronyms/acronym.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_acronym %}
        Add Acronym
    {% else %}
        Edit Acronym
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_acronym %}
                <h1>Add Acronym</h1>
            {% else %}
                <h1>Edit Acronym</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            {% if add_acronym==false %}
               Author: {{ acronym.author.userFN }} {{ acronym.author.userLN }}<br />
               Date Create: {{ acronym.dateCreate }}<br />
               Tags: <br />
               {% for tag in acronym.acrotags %}
                  &nbsp;&nbsp;&nbsp;{{ tag.tagTable.tag }}<br />
               {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
